.hidden {
  display: none;
}
img {
  max-width: 25%;
  float: right;
  padding: 1rem;
}
div img {
  margin: 1rem;
}
h2 {
  cursor: pointer;
  background-color: rgba(15, 129, 34, 0.548);
  padding: 1rem;
}
.h1 {
  background-color: aqua;
}
