div{
  margin: 10px;
}
article img {
  max-width: 15%;
  float: left;
  padding: 10px;
}
div {
  margin: 10px;
}
.hidden {
  display: none;
}
h1{
  cursor: pointer;
  background-color: gray;
  padding: 10px;
}
.more{
  display: block;
}
.none{
  display: none;
}